$height-header: 100px;
$height-header-1200: 85px;
$height-header-900: 75px;
$height-header-600: 85px;

$height-feedback-bar: 60px;
$height-feedback-bar-1200: 55px;
$height-feedback-bar-900: 65px;

$gap-horizontal-list: 20px;
$gap-horizontal-list-1200: 18px;
$gap-horizontal-list-900: 16px;
$gap-horizontal-list-600: 14px;


$padding-section: 60px 0;
$padding-section-1200: 50px 0;
$padding-section-900: 40px 0;
$padding-section-600: 30px 0;

$primary-color: #1DB954;

$secondary-section-color: #F4F2F5;