.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 60px;

  &.isFullFilled {
    .item {
      width: 100%;
      margin: 15px 0 0 0;
    }
  }
}

.item {
  width: 45%;
  margin: 40px 10% 0 0;
  font-size: 18px;
  position: relative;

  &__prefix {
    position: absolute;
    right: calc(100% + 10px);
    font-weight: 600;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }

  &__title {
    font-size: 1.1em;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
  }

  &__desc {
    margin-top: .5em;
    margin-bottom: 0;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    margin-bottom: 45px;

    &.isFullFilled {
      .item {
        margin: 13px 0 0 0;
      }
    }
  }

  .item {
    margin: 35px 10% 0 0;
    font-size: 17px;

    &__prefix {
      right: calc(100% + 9px);
    }
  }
}

@media (max-width: 900px) {
  .wrapper {
    margin-bottom: 30px;

    &.isFullFilled {
      .item {
        margin: 11px 0 0 0;
      }
    }
  }

  .item {
    margin: 30px 10% 0 0;
    font-size: 16px;

    &__prefix {
      right: calc(100% + 8px);
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    margin-bottom: 15px;

    &.isFullFilled {
      .item {
        margin: 9px 0 0 0;
      }
    }
  }

  .item {
    width: 100%;
    margin: 20px 0 0 0;
    font-size: 15px;

    &__prefix {
      right: calc(100% + 7px);
    }
  }
}