@import '~antd/dist/antd.css';
@import '~antd/dist/antd.variable.min.css';
@import "../assets/css/variables";
@import "../assets/css/fonts";

* {
  font-family: 'Montserrat', sans-serif;
}

.swiper {
  width: 100%;

  &-pagination-bullet-active {
    background-color: rgba(#000, .95) !important;
  }

  &-button-next, &-button-prev {
    color: $primary-color !important;
  }
}

